:root{
    --basic-dark-white:#EEEEEE;
    --basic-red:#FB565A;
    --special-red:#E74246;
    --super-special-red:#D7373B;
    --bacic-white:#FFFFFF;
    --basic-green:#00CA74;
    --special-green:#00BC6C;
    --super-special-green:#00AA62;
    --basic-yellow:#EFC849;
    --special-yellow:#EAB534;
    --super-special-yellow:#E5A722;
    --basic-black:#283136;
    --black:#000000;
    --button-black:#231F20;
    --special-grey:#666666;
    --super-special-grey:#444444;
    --filter-grey:#4D4D4D;
    --border-grey:#D7DCDE;
    --border-special-grey:#B4B9BB;
    --social-red:#E74246;
    --border-grey:#DBDBDB;
    --extra-special-grey:#DFDFDF;
    --super-extra-grey:#D5D5D5;
}


/*  global */
body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:var(--basic-black);
    background-color: var(--bacic-white);
}

a{
    text-decoration: none;
    color:inherit;

}

img{
    max-width: 100%;
    height: auto;
}

fieldset{
    border:none;
}

/* header */

.main-header{
    background-color: var(--basic-dark-white);
}

.main-header-logo:hover,
.main-header-logo:focus{
    opacity: 0.7;
}

.main-header-logo:active{
    opacity: 0.3;
}

.first-header{
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color:var(--black);
}
/* navigation */

.site-navigation,
.cart{
    font-size: 16px;
    line-height: 30px;
    color:var(--black);
    text-transform: uppercase;
    font-weight: 500;
    list-style: none;
    
}

.current{
    border:2px solid var(--basic-red);
    border-left: none;
    border-top: none;
    border-right: none;
    padding-bottom: 13px;
}

.site-navigation a,
.cart a{
    color:var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus{
    color:var(--basic-red);

}

.site-navigation a:active,
.cart a:active{
    color:var(--basic-black);
    opacity: 0.5;
}


/* scope */

.illustration-1{
    background-image:url(images/main/illustration-1.png);
    width: 300px;
    height: 146px;
    background-color: var(--super-special-red);
}

.illustration-2{
    background-image:url(images/main/illustration-2.png);
    width: 300px;
    height: 146px;
    background-color: var(--special-green);
}

.illustration-3{
    background-image:url(images/main/illustration-3.png);
    width: 300px;
    height: 146px;
    background-color: var(--special-yellow);
}

.scope-list{
    list-style: none;
}

.scope-item{
    text-align: left;
}

.scope-header{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color:var(--black);
}

.button{
    font:inherit;
    text-align: center;
    color:var(--bacic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.button:hover,
.button:focus{
    background-color:var(--special-red);
}

.button:active{
    background-color: var(--super-special-red);
    
}

.scope-yellow{
    background-color: var(--basic-yellow);
}

.scope-yellow:hover,
.scope-yellow:focus{
    background-color: var(--special-yellow);
}

.scope-yellow:active{
    background-color: var(--super-special-yellow);
}

.scope-green:hover,
.scope-green:focus{
    background-color: var(--special-green);
}

.scope-green:active{
    background-color: var(--super-special-green);
}

.scope-green{
    background-color: var(--basic-green);
}

/* information */

.info-header{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color:var(--black);
}

.info-header-list{
    font-weight: 700;
}

.info-list{
    list-style: url(images/css/red-list.svg);
}

.advantages-header{
    font-weight: 700;
    color:var(--black);
}

.advantages-list{
    text-align: center;
}

.advantages-percent{
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color:var(--black);
}

.advantages-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

/* partners */

.partrens-list{
    list-style: none;
}

.partrens-item{
    opacity: 0.2;
}

.partrens-item:focus,
.partrens-item:hover{
    opacity: 1;
}

.partrens-item:active{
    opacity: 0.1;
}

/* footer */

/* contacts */

.column-white{
    background-color: var(--bacic-white);
}

.contacts{
    text-align:left;
    font-size: 16px;
    line-height: 18px;
    color:var(--special-grey);
}

.contacts-header{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color:var(--black);
}

.number{
    color:inherit;
}

.social-list{
    list-style: none;
}

.img-svg:hover .path1,
.img-svg:focus .path1{
    fill: var(--special-red);
}

.img-svg:active .path1{
    fill:var(--super-special-red);
}

.img-svg:active .path2{
    opacity: 0.3;
}

.footer-offer{
    font-size: 16px;
    line-height: 22px;
    color:var(--super-special-grey);
}

.footer-offer-header{
    font-size:36px;
    line-height: 36px;
    font-weight: bold;
    color: var(--black);
}

.footer-map{
    width: 1440px;
    height: 416px;
    background-image: url("images/footer/map.jpg");
    background-color: #E8E5D5;
    
}


/* feedback */

.close-button{
    border: none;
    background-color:var(--bacic-white);
    opacity: 0.3;
}

.close-button:hover,
.close-button:focus{
    opacity: 1;
}

.close-button:active{
    opacity: 0.1;
}

.login-header{
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color:var(--black)
}


.login-name,
.login-email,
.login-text{
    border:2px solid var(--border-grey);
}

.login-name:hover,
.login-name:focus,
.login-email:hover,
.login-email:focus,
.login-text:hover,
.login-text:focus{
    border-color: var(--border-special-grey);
}


.login-text:invalid,
.login-name:invalid,
.login-email:invalid{
    border-color: var(--social-red);
}

.label-login{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color:var(--black); 
}





/* catalog */

/* header */

.catalog-main-header{
color:var(--black);
text-align: center;
font-weight: 500;
font-size: 55px;
line-height: 55px;
}

/* filter */

.catalog-legend{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color:var(--black)
}

.input-field{
    background-color:var(--basic-dark-white);
}

.filter-list{
    list-style: none;
    text-align: left;
}

.filter-radio{
    opacity: 0.4;
}

.filter-radio:hover,
.filter-radio:focus{
    opacity: 1;
    border:none;
    color:var(--filter-grey);
}


.filter-checkbox{
    opacity: 0.4;
}

.filter-checkbox:focus,
.filter-checkbox:hover{
    opacity: 1;
    border:none;
    color:var(--filter-grey); 
}

.special-list{
    list-style-type:none;
}

.sort-list{
    list-style: none;
}

.sort-item{
    color:var(--black);
    opacity: 0.3;
}

.sort-item:focus,
.sort-item:hover{
    opacity: 0.6;
}

.sort-item:active{
    opacity: 1;
}

.button-show{
    color:var(--black);
    background-color: var(--basic-dark-white);
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 17px 88px;
}

.dir{
    opacity: 0.2;
    border: none;
    
}



.dir:focus,
.dir:hover{
    opacity: 1;
}

.dir:active .up,
.dir:active .down{
    fill: var(--button-black);
}

/* product-site */

.site-list{
    list-style: none;
}

.panel{
    opacity: 0.12;
}

.site-item:focus > .panel,
.site-item:hover > .panel{
    opacity: 1;
}

.site-item{
    text-align: center;
}

.site-name:hover,
.site-name:focus{
    color:var(--basic-red);
}

.site-name:active{
    opacity: 0.3;
}

.description{
    display: block;
}


.site-product{
    background-color: var(--basic-dark-white);
    
}

.site-name{
    color:var(--black);
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;

}

.site-name:hover,
.site-name:focus{
    color:var(--special-red);
}

.site-info{
    color:var(--special-grey);
    line-height: 18px;
}


/* page number */

.page-list{
    list-style:none;
}

.page-button{
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    width: 50px;
    height: 50px;
    color:var(--black);
    border: 3px solid var(--border-grey);
    background-color: var(--basic-dark-white);
}

.next{
    width: 260px;
}

.active{
    background-color: var(--bacic-white);
}

.page-button:focus,
.page-button:hover{
    background-color: var(--extra-special-grey) ;
}

.page-button:active{
    background-color: var(--super-extra-grey);
}